.card {
    margin: 10px !important;
    width: 300px;
    max-height: 300px;
    min-width: 300px;
}

.card_align {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.card_padding {
    padding: 10px;
}